@import "../../app.scss";

.hero{
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;
    overflow: hidden;
    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;



        .textContainer{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            @include mobile{
                height: 50%;
                width: 100%;
                gap: 20px;
                align-items: center;
                text-align: center;
            }
            
            h1{
                font-size: 80px;

                @include mobile{
                    font-size: 36px;
            }
            }
            h2{
                font-size: 30px;
                color: rebeccapurple;
                letter-spacing: 10px;
            }
            .buttons{
                @include mobile{
                    display: flex;
                }
                button{
                    padding: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    margin-right: 20px;
                    cursor: pointer;
                    font-weight: 300;

                    
                    @include mobile{
                    font-size: 16px;
                    }
                }
            }
            img{
                width: 50px;
            }
                }
        .imageContainer{
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;

            @include mobile{
                height: 50%;
                width: 100%;
                top: unset;
                bottom: 0;
            }

            img{
                height: calc(100vh - 100px);
                width: 100%;
                object-fit: contain;

                @include mobile {
                    height: 100%;
                }
            }
        }
        .slidingTextContainer{
            position: absolute;
            font-size: 50vh;
            bottom: -120px;
            color: #ffffff09;
            white-space: nowrap;
            width: 50%;
            font-weight: bold;
        }
    }
}